@import 'bulma/bulma';

/* Schedule styles */
.travellers-container {
  margin: 0 auto
}

.travellers-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dates-list-container {
  width: 80vw; /* Default to 80% of the viewport width */
  margin: 0 auto;
}

.date-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.date-text {
  flex-grow: 1;
  margin-right: 10px;
}

/* Adjustments for larger screens */
@media (min-width: 768px) {
  .dates-list-container {
    width: 60vw; /* 60% of the viewport width for medium screens */
  }
}

@media (min-width: 1024px) {
  .dates-list-container {
    width: 50vw; /* 50% of the viewport width for large screens */
  }
}

/* Ensure text and button spacing is consistent on smaller screens */
@media (max-width: 767px) {
  .date-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .date-text {
    margin-bottom: 5px;
    width: 100%;
  }

  .button {
    width: auto; /* Ensure buttons don't take full width */
    align-self: flex-end; /* Align buttons to the start of the flex container */
    margin-bottom: 5px;
  }
}

/* Add Traveller styles */

.friends-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-button {
  height: 2em; /* Matches the height of Bulma tags */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.event-time {
  display: flex;

}

.time-wrapper{
  display: flex;
  flex-direction: column;
}


.navbar-logo {
  max-height: 3rem; 
  max-width: auto;  
  // transition: transform 0.3s ease-in-out; 

  padding-top: 5px;
}


// .navbar-logo:hover {
//   transform: scale(1.1);
// }

/* Footer.css */

.login-logo {
  display: block;
  margin: 0 auto; /* Center horizontally */
  max-width: 100%;
  height: auto; /* Scales appropriately */
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
}