@import 'bulma/bulma';

/* Schedule styles */
.travellers-container {
  margin: 0 auto
}

.travellers-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dates-list-container {
  width: 80vw; /* Default to 80% of the viewport width */
  margin: 0 auto;
}

.date-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.date-text {
  flex-grow: 1;
  margin-right: 10px;
}

/* Adjustments for larger screens */
@media (min-width: 768px) {
  .dates-list-container {
    width: 60vw; /* 60% of the viewport width for medium screens */
  }
}

@media (min-width: 1024px) {
  .dates-list-container {
    width: 50vw; /* 50% of the viewport width for large screens */
  }
}

/* Ensure text and button spacing is consistent on smaller screens */
@media (max-width: 767px) {
  .date-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .date-text, .button {
    margin-bottom: 5px;
    width: 100%;
  }
}

/* Add Traveller styles */

.friends-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-button {
  height: 2em; /* Matches the height of Bulma tags */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.event-time {
  display: flex;

}

.time-wrapper{
  display: flex;
  flex-direction: column;
}


.navbar-logo {
  max-height: 3rem; 
  max-width: auto;  
  // transition: transform 0.3s ease-in-out; 

  padding-top: 5px;
}


// .navbar-logo:hover {
//   transform: scale(1.1);
// }


//DEFAULT STYLING FOR ACCORDIAN
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

// .container {
//   max-width: 650px;
//   width: 100%;
//   // position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.wrapper {
  border-bottom: 1px solid black;
  overflow: hidden;
}

.wrapper .title-container {
  width: 100%;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.title-container.active {
  color: #1db954;
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}
.wrapper .title-container:hover {
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}

.wrapper .arrow {
  font-size: 2rem;
  transition: .5s ease-in-out;
}

.arrow.active {
  rotate: 180deg;
  color: #1db954;
}

.wrapper .event-container {
  padding: 0 1rem;
  transition: height .7s ease-in-out;
}

.wrapper .event-content {
  padding: 1rem 0;
  font-size: 20px;
  font-style: italic;
}